extends ../components/base/layout

block variables
  - const lang = "ru"
  - const page = "about"
  - const title = "AsiaPetroservice - О нас" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "ru"
  - const hasFooter = true
  - const footerMods = "ru"
  - const currentUrl = "about.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +about-hero(lang)
    +about-swiper(lang)
    +about-licenses(lang)
    +about-partners(lang)
    +about-acc(lang)




block modals
  +modal(class="modal--form", data-modal="form-modal")
    +form-modal(lang)
  +modal(class="modal--link", data-modal="about-link-modal")
    +about-link-modal(lang)
  +modal(class="modal--license", data-modal="about-license-modal")
    +about-license-modal(lang)

