mixin advantages(lang)
  -
    const slides = [
      {
        "ru": {
          title: "Документальное сопровождение",
          text: "Все работы сопровождаются полным пакетом технической и финансовой документации и  документации по технике безопасности.",
          icon: "calendar-clock",
        },
        "en": {
          title: "Documentary support",
          text: "All work is accompanied by a full package of technical, financial and safety documentation.",
          icon: "calendar-clock",
        },
        "kz": {
          title: "Құжаттық қолдау",
          text: "Барлық жұмыстар техникалық, қаржылық және қауіпсіздік құжаттарының толық пакетімен бірге жүреді.",
          icon: "calendar-clock",
        }
      },
      {
        "ru": {
          title: "Аккредитация",
          text: "Имеем аккредитацию в Казахстане в области НИОКР.",
          icon: "flask",
        },
        "en": {
          title: "Accreditation",
          text: "We have accreditation in Kazakhstan in the field of R&D.",
          icon: "flask",
        },
        "kz": {
          title: "Аккредитация",
          text: "Бізде Қазақстанда ҒЗТКЖ саласында аккредитация бар.",
          icon: "flask",
        }
      },
      {
        "ru": {
          title: "Оборудование и производство",
          text: "Cобственная производственная база поддержки в г. Актау с  аккредитованной лабораторией.",
          icon: "forklift",
        },
        "en": {
          title: "Equipment and production",
          text: "Own production support base in Aktau with an accredited laboratory.",
          icon: "forklift",
        },
        "kz": {
          title: "Жабдық және өндіріс",
          text: "Ақтауда аккредиттелген зертханасы бар жеке өндірісті қолдау базасы.",
          icon: "forklift",
        }
      },
      {
        "ru": {
          title: "Стандарты",
          text: "Мы следуем международным стандартам в области ОТ, ТБ и ООС.",
          icon: "globe",
        },
        "en": {
          title: "Standards",
          text: "We follow international standards in the field of HSE.",
          icon: "globe",
        },
        "kz": {
          title: "Стандарттар",
          text: "Біз ҚОҚ саласындағы халықаралық стандарттарды ұстанамыз.",
          icon: "globe",
        }
      },
      {
        "ru": {
          title: "Партнеры",
          text: "Сотрудничаем со многими ведущими мировыми производителями, научно-исследовательскими и проектными институтами и бюро.",
          icon: "handshake-angle",
        },
        "en": {
          title: "Partners",
          text: "We cooperate with many of the world's leading manufacturers, research and design institutes and bureaus.",
          icon: "handshake-angle",
        },
        "kz": {
          title: "Серіктестер",
          text: "Біз әлемнің көптеген жетекші өндірушілерімен, ғылыми-зерттеу және жобалау институттарымен және бюроларымен ынтымақтасамыз.",
          icon: "handshake-angle",
        }
      },
      {
        "ru": {
          title: "Опытная команда профессиналов",
          text: "Ключевой персонал имеет более 20 лет опыта и регулярно проходит обучение. Рабочая сила –более 40 профессионалов.",
          icon: "users-alt",
        },
        "en": {
          title: "Experienced team of professionals",
          text: "Key personnel have over 20 years of experience and undergo regular training. The workforce is more than 40 professionals.",
          icon: "users-alt",
        },
        "kz": {
          title: "Тәжірибелі мамандар командасы",
          text: "Негізгі қызметкерлердің 20 жылдан астам тәжірибесі бар және үнемі оқудан өтеді. Жұмыс күші 40-тан астам маманнан тұрады.",
          icon: "users-alt",
        }
      },
    ]
  section.advantages
    h2.visually-hidden Преимущества компании
    .advantages__swiper.swiper
      .advantages__swiper-wrapper.swiper-wrapper
        each slide in slides
          each value, key in slide
            if lang === key
              .swiper-slide.advantages-slide
                .advantages-slide__wrapper
                  .advantages-slide__icon
                    +icon(value.icon, 24, 24, lang)
                  h3.advantages-slide__title.title.title--small!=value.title
                  p!=value.text
      .advantages__swiper-button.advantages__swiper-button--prev.swiper-button.swiper-button--prev.swiper-button-prev
      .advantages__swiper-button.advantages__swiper-button--next.swiper-button.swiper-button--next.swiper-button-next

