mixin copyright(lang)
  -
    const texts = {
      "ru": "© Asia Petro Service 2024. Все права защищены.",
      "en": "© Asia Petro Service 2024. All rights reserved.",
      "kz": "© Asia Petro Service 2024. Барлық құқықтар сақталған."
    }

  .footer__copyright
    each value, key in texts
      if lang === key
        p!=value
