mixin copyright(lang)
  -
    const texts = {
      "ru": "© AsiaPetroService 2024. Все права защищены.",
      "en": "© AsiaPetroService 2024. All rights reserved.",
      "kz": "© AsiaPetroService 2024. Барлық құқықтар сақталған."
    }

  .footer__copyright
    each value, key in texts
      if lang === key
        p!=value
