mixin index-form(lang)
  -
    const formData = {
      "ru": {
        title: "Напишите нам",
        text: "Наши менеджеры ответят на&nbsp;ваши вопросы , произведут расчет стоимости услуг и&nbsp;подготовят индивидуальное коммерческое предложение.",
        label1: "Имя",
        label2: "e-mail",
        label3: "Телефон",
        label4: "Ваше сообщение",
        circs: "Я согласен на обработку моих персональных данных.",
        btn: "отправить",
      },
      "en": {
        title: "Contact us",
        text: "Our managers will answer all your questions, calculate the cost of services and prepare an individual commercial offer.",
        label1: "Name",
        label2: "e-mail",
        label3: "Phone",
        label4: "Your message",
        circs: "I'm agree to process my personal data.",
        btn: "send",
      },
      "kz": {
        title: "Бізге жазыңыз",
        text: "Біздің менеджерлер сұрақтарыңызға жауап береді, қызметтердің құнын есептейді және жеке коммерциялық ұсыныс дайындайды.",
        label1: "Аты",
        label2: "e-mail",
        label3: "телефон нөмірі",
        label4: "Сіздің хабарламаңыз",
        circs: "Мен жеке деректерімді өңдеуге келісемін.",
        btn: "жіберу",
      },
    }
  section.index-form
    .container
      .index-form__wrapper
        .index-form__column
          each value, key in formData
            if lang === key
              h2.index-form__title.title.title--dark!=value.title
              p.index-form__text!=value.text
              .index-form__form.form(data-form-validate)
                form(action="send.php" method="post")
                  +custom-input({
                    inputLabel: value.label1,
                    inputName: "user-name",
                  })(class="form-input--name", data-on-input-validate, data-required, aria-required="true", data-validate-type="text")
                  +custom-input({
                    inputLabel: value.label2,
                    inputName: "user-email",
                  })(class="form-input--email", data-on-input-validate, data-required, aria-required="true", data-validate-type="email")
                  +custom-input({
                    inputLabel: value.label3,
                    inputName: "user-phone",
                  })(class="form-input--phone", data-on-input-validate, data-required, aria-required="true", data-validate-type="phone")
                  +custom-textarea({
                    inputLabel: value.label4,
                    inputName: "user-message",
                  })
                  +custom-toggle({
                    inputLabel: value.circs,
                    icon: true
                  })(class="form-toggle", data-required, aria-required="true", data-validate-type="toggle-group")
                  +btn({
                    type: "submit",
                    text: value.btn,
                  })(class="form__btn btn--line")
        .index-form__image
          +picture("content", "form", "jpg", 644, 848, "pipes", lang)
