mixin index-about(lang)
  -
    const data = {
      "ru": {
        title: "ТОО «Asia Petro Service»",
        text: "предоставляет полный спектр услуг по приготовлению и контролю за качеством буровых растворов, растворов для заканчивания скважин, капитального и подземного ремонта скважин, жидкостей глушения и другие.",
        btn: "подробнее о нас",
        alt: "сотрудники ТОО «Asia Petro Service»",
      },
      "en": {
        title: "Asia Petro Service LLP",
        text: "provides a full range of services for the preparation and quality control of drilling fluids, solutions for well completion, capital and underground workover of wells, killing fluids and others.",
        btn: "MORE ABOUT US",
        alt: "сотрудники ТОО «Asia Petro Service»",
      },
      "kz": {
        title: "«Азия Петро Сервис» ЖШС",
        text: "бұрғылау ерітінділерін дайындау және сапасын бақылау, ұңғымаларды аяқтау шешімдері, ұңғымаларды күрделі және жерасты жөндеу, жою сұйықтарын және т.б. қызметтерінің толық кешенін ұсынады.",
        btn:  "БІЗ ТУРАЛЫ ТОЛЫҒЫРАҚ",
        alt: "сотрудники ТОО «Asia Petro Service»",
      }
    }

  section.index-about
    .container
      .index-about__wrapper
        each value, key in data
          if lang === key
            .index-about__left
              h2.index-about__title.title.title--medium!=value.title
              p!=value.text
            .index-about__image
              +picture("content", "index-about-desktop", "jpg", 595, 492, value.alt, lang)
            +btn({href: "about.html", text: value.btn})(class="btn--line index-about__btn")
