mixin news(lang)
  -
    const data = {
      "ru": {
        title: "Новое поколение буровых растворов - POLYCAT",
        text: "В 2024 году создано и внедрено собственное производство по выпуску полимера для нового поколения полимеркатионных буровых растворов для бурения скважин в сложных горно-геологических условиях.",
        btn: "Новое",
        hHidden: "Новости",
      },
      "en": {
        title: "New generation of drilling solutions - POLYCAT",
        text: "Text#1",
        btn: "new",
        hHidden: "News",
      },
      "kz": {
        title: "POLYCAT - Бұрғылау ерітінділерінің жаңа буыны",
        text: "Mәтін#1",
        btn:  "жаңа",
        hHidden: "Жаңалықтар",
      }
    }

  section.news
    .container
      .news__wrapper
        each value, key in data
          if lang === key
            .h2.visually-hidden!=value.hHidden
            .news__image
              +picture("content", "index-news-desktop", "jpg", 556, 411, "petroleum refinery", lang)
              span.news__mark!=value.btn
            .news__right
              a.news__link(href= "polycat.html")!=value.title
              p!=value.text
