mixin products-catalog (lang)
  -
    const btns = {
      "ru": "Загрузить ещё",
      "en": "Load more",
      "kz": "Көбірек",
    }

  -
    const data = [
      {
        id: 1,
        sort: "weights",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Барит",
            group: "Барит",
            unit: "мешок",
            min: "1500 кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Barite",
            group: "Barite",
            unit: "sack",
            min: "1500 kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Барит",
            group: "Барит",
            unit: "мешок",
            min: "1500 кг",
          }
        }
      },
      {
        id: 2,
        sort: "thickeners",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Аттапульгит (солевой гель)",
            group: "Аттапульгитовая глина",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Attapulgite (salt gel)",
            group: "Attapulgite clay",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Аттапульгит (солевой гель)",
            group: "Аттапульгитовая глина",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 3,
        sort: "thickeners",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ГЭЦ",
            group: "HEC",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "HEC",
            group: "HEC",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ГЭЦ",
            group: "HEC",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 4,
        sort: "thickeners",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ОКМА Бентонит",
            group: "Бентонит",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "OKMA Bentonite",
            group: "Bentonite",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ОКМА Бентонит",
            group: "Бентонит",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 5,
        sort: "thickeners",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биополимер – Ксантан",
            group: "Bio-xan",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Biopolymer – Xanthan",
            group: "Bio-xan",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биополимер – Ксантан",
            group: "Bio-xan",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 6,
        sort: "thickeners",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биополимер – Ксантан высокотемпрературный",
            group: "Bio-xan HT",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Biopolymer – Xanthan high temperature",
            group: "Bio-xan HT",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биополимер – Ксантан высокотемпрературный",
            group: "Bio-xan HT",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 7,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Каустическая сода",
            group: "Каустическая сода",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Caustic soda",
            group: "Caustic soda",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Каустическая сода",
            group: "Каустическая сода",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 8,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Едкое кали",
            group: "Каустик поташ",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Caustic potassium",
            group: "Caustic potash",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Едкое кали",
            group: "Каустик поташ",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 9,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Кальцинированная сода",
            group: "Кальцинированная сода",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Soda Ash",
            group: "Soda Ash",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Кальцинированная сода",
            group: "Кальцинированная сода",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 10,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Известь",
            group: "Lime",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Lime",
            group: "Lime",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Известь",
            group: "Lime",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 11,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Бикарбонат натрия",
            group: "Бикарбонат натрия",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Bicarbonate of soda",
            group: "Bicarbonate of soda",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Бикарбонат натрия",
            group: "Бикарбонат натрия",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 12,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Гипс",
            group: "Гипс",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Gypsum",
            group: "Gypsum",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Гипс",
            group: "Гипс",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 13,
        sort: "ph",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Лимонная кислота",
            group: "Лимонная кислота",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Lemon acid",
            group: "Lemon acid",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Лимонная кислота",
            group: "Лимонная кислота",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 15,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "КМЦ – высоковязкая",
            group: "CMC – HV ",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "CMC – HV ",
            group: "CMC – HV ",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "КМЦ – высоковязкая",
            group: "CMC – HV ",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 16,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "КМЦ – маловязкая",
            group: "CMC – LV ",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "CMC – LV ",
            group: "CMC – LV ",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "КМЦ – маловязкая",
            group: "CMC – LV ",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 17,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- высоковязкий",
            group: "PAC – HV",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "PAC – HV",
            group: "PAC – HV",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- высоковязкий",
            group: "PAC – HV",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 18,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- маловязкий",
            group: "PAC – LV",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "PAC – LV",
            group: "PAC – LV",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- маловязкий",
            group: "PAC – LV",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 19,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- высоковязкий для высоких температур",
            group: "DRISPAC Regular",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "DRISPAC Regular",
            group: "DRISPAC Regular",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- высоковязкий для высоких температур",
            group: "DRISPAC Regular",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 20,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- маловязкий для высоких температур",
            group: "DRISPAC Superlow",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "DRISPAC Superlow",
            group: "DRISPAC Superlow",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "ПАЦ- маловязкий для высоких температур",
            group: "DRISPAC Superlow",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 21,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Крахмал буровой модифицированный (картофельный, кукурузный)",
            group: "Drill Starch",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Modified drill starch (potato, corn)",
            group: "Drill Starch",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Крахмал буровой модифицированный (картофельный, кукурузный)",
            group: "Drill Starch",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 22,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Крахмал буровой модифицированный для высоких температур",
            group: "STABODRILL HT",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Modified drill starch for high temperatures",
            group: "STABODRILL HT",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Крахмал буровой модифицированный для высоких температур",
            group: "STABODRILL HT",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 23,
        sort: "filtration",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Полиакриламид",
            group: "PAM",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Polyacrylamide",
            group: "PAM",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Полиакриламид",
            group: "PAM",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 25,
        sort: "deflocculants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Лигносульфонат без хрома",
            group: "THINNER CF",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Lignosulfonate without chromium",
            group: "THINNER CF",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Лигносульфонат без хрома",
            group: "THINNER CF",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 26,
        sort: "deflocculants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Лигносульфонат с содержанием хрома",
            group: "THINNER ",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Lignosulfonate containing chromium",
            group: "THINNER",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Лигносульфонат с содержанием хрома",
            group: "THINNER",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 27,
        sort: "deflocculants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Модифицированный танин без хрома",
            group: "DESCO CF (Китай)",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Modified tannin without chromium",
            group: "DESCO CF (China)",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Модифицированный танин без хрома",
            group: "DESCO CF (Китай)",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 28,
        sort: "deflocculants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "DESCO CF ( Drilling. Specialties)",
            group: "DESCO CF ( Drilling. Specialties)",
            unit: "мешок",
            min: "11,34кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "DESCO CF ( Drilling. Specialties)",
            group: "DESCO CF ( Drilling. Specialties)",
            unit: "sack",
            min: "11.34kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "DESCO CF ( Drilling. Specialties)",
            group: "DESCO CF ( Drilling. Specialties)",
            unit: "мешок",
            min: "11,34кг",
          }
        }
      },
      {
        id: 29,
        sort: "deflocculants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Синтетический дефлокулянт",
            group: "THERMA THINNER",
            unit: "канистра",
            min: "25л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Synthetic deflocculant",
            group: "THERMA THINNER",
            unit: "canister",
            min: "25lt",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Синтетический дефлокулянты",
            group: "THERMA THINNER",
            unit: "канистра",
            min: "25л",
          }
        }
      },
      {
        id: 30,
        sort: "deflocculants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "SAPP",
            group: "SAPP",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "SAPP",
            group: "SAPP",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "SAPP",
            group: "SAPP",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 31,
        sort: "salts",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый натрий",
            group: "Соль",
            unit: "мешок",
            min: "1000кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Sodium chloride",
            group: "Salt",
            unit: "sack",
            min: "1000kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый натрий",
            group: "Соль",
            unit: "мешок",
            min: "1000кг",
          }
        }
      },
      {
        id: 32,
        sort: "salts",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый калий в порошке",
            group: "Хлористый калий ",
            unit: "мешок",
            min: "1000кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Potassium chloride powder",
            group: "Potassium chloride",
            unit: "sack",
            min: "1000kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый калий в порошке",
            group: "Хлористый калий",
            unit: "мешок",
            min: "1000кг",
          }
        }
      },{
        id: 33,
        sort: "salts",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый калий в порошке",
            group: "Хлористый калий",
            unit: "мешок",
            min: "800кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Potassium chloride powder",
            group: "Potassium chloride",
            unit: "sack",
            min: "800kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый калий в порошке",
            group: "Хлористый калий",
            unit: "мешок",
            min: "800кг",
          }
        }
      },
      {
        id: 34,
        sort: "salts",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый кальций",
            group: "Хлористый кальций",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Calcium chloride",
            group: "Calcium chloride",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый кальций",
            group: "Хлористый кальций",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 35,
        sort: "salts",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый кальций крупнозернистый",
            group: "Хлористый кальций крупнозернистый",
            unit: "мешок",
            min: "1000кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Coarse calcium chloride",
            group: "Coarse calcium chloride",
            unit: "sack",
            min: "1000kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Хлористый кальций крупнозернистый",
            group: "Хлористый кальций крупнозернистый",
            unit: "мешок",
            min: "1000кг",
          }
        }
      },
      {
        id: 36,
        sort: "shale",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Частично гидролизованный полиакриламид",
            group: "PHPA",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Partially hydrolyzed polyacrylamide",
            group: "PHPA",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Частично гидролизованный полиакриламид",
            group: "PHPA",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 37,
        sort: "shale",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Сульфированный асфальтен",
            group: "Sulhponated Asphalten",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Sulhponated Asphalten",
            group: "Sulhponated Asphalten",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Сульфированный асфальтен",
            group: "Sulhponated Asphalten",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 38,
        sort: "shale",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Органический ингибитор",
            group: "ХБН",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Organic inhibitor",
            group: "CBN",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Органический ингибитор",
            group: "ХБН",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 39,
        sort: "shale",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Органический катионный ингибитор",
            group: "MAX HIB, MAX COAG",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Organic cationic inhibitor",
            group: "MAX HIB, MAX COAG",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Органический катионный ингибитор",
            group: "MAX HIB, MAX COAG",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 40,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Слюда тонкого, среднего, грубого помола",
            group: "Mica – (м,с,к)",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Mica fine, medium, coarse",
            group: "Mica",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Слюда тонкого, среднего, грубого помола",
            group: "Mica – (м,с,к)",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 41,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ореховая скорлупа - тонкого, среднего, грубого помола",
            group: "Nut Plug – (м,с,к)",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Walnut shells - fine, medium, coarse",
            group: "Nut Plug – (м,с,к)",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ореховая скорлупа - тонкого, среднего, грубого помола",
            group: "Nut Plug – (м,с,к)",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 42,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Целлюлозно-волокнистый материал - тонкого, среднего, грубого помола",
            group: "F Seal",
            unit: "мешок",
            min: "11,34кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Cellulose-fibrous material - fine, medium, coarse",
            group: "F Seal",
            unit: "sack",
            min: "11.34kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Целлюлозно-волокнистый материал - тонкого, среднего, грубого помола",
            group: "F Seal",
            unit: "мешок",
            min: "11,34кг",
          }
        }
      },
      {
        id: 43,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Целлюлозно-волокнистый материал - тонкого, среднего, грубого помола",
            group: "F Seal",
            unit: "мешок",
            min: "18,11кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Cellulose-fibrous material - fine, medium, coarse",
            group: "F Seal",
            unit: "sack",
            min: "18,11kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Целлюлозно-волокнистый материал - тонкого, среднего, грубого помола",
            group: "F Seal",
            unit: "мешок",
            min: "18,11кг",
          }
        }
      },
      {
        id: 44,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Карбонат кальция мелкого помола",
            group: "Карбонат кальция мелкого помола",
            unit: "мешок",
            min: "1тонна",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Finely ground calcium carbonate",
            group: "Finely ground calcium carbonate",
            unit: "sack",
            min: "1tn",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Карбонат кальция мелкого помола",
            group: "Карбонат кальция мелкого помола",
            unit: "мешок",
            min: "1тонна",
          }
        }
      },
      {
        id: 45,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Смешанные закупоривающие материалы - тонкого, среднего, грубого помола",
            group: "Kwick Seal (м, с, к)",
            unit: "мешок",
            min: "18,11кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Mixed capping materials - fine, medium, coarse",
            group: "Kwick Seal (м, с, к)",
            unit: "sack",
            min: "18.11kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Смешанные закупоривающие материалы - тонкого, среднего, грубого помола",
            group: "Kwick Seal (м, с, к)",
            unit: "мешок",
            min: "18,11кг",
          }
        }
      },
      {
        id: 46,
        sort: "plugging",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Прочие закупоривающие материалы",
            group: "POLYSWELL 200",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Other plugging materials",
            group: "POLYSWELL 200",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Прочие закупоривающие материалы",
            group: "POLYSWELL 200",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 47,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Жидкость для освобождения прихватов",
            group: "Stuck Free",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Liquid for releasing sticks",
            group: "Stuck Free",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Жидкость для освобождения прихватов",
            group: "Stuck Free",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 48,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ингибиторы коррозии",
            group: "Corrosion Free",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Corrosion inhibitors",
            group: "Corrosion Free",
            unit: "sack",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ингибиторы коррозии",
            group: "Corrosion Free",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 49,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Детергент для бурового раствора",
            group: "Drilling detergent",
            unit: "бочка",
            min: "200кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Drilling detergent",
            group: "Drilling detergent",
            unit: "cask",
            min: "200kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Детергент для бурового раствора",
            group: "Drilling detergent",
            unit: "бочка",
            min: "200кг",
          }
        }
      },
      {
        id: 50,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Смазочный материал низкой токсичности",
            group: "ФК-Н",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Lubricant – low toxicity",
            group: "FK-N",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Смазочный материал низкой токсичности",
            group: "ФК-Н",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 51,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Противопенная добавка на спиртовой основе",
            group: "Defoamer",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Alcohol-based antifoam additive",
            group: "Defoamer",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Противопенная добавка на спиртовой основе",
            group: "Defoamer",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 52,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Противопенная добавка на силиконовой основе",
            group: "Пентаксил марки М11, У11.",
            unit: "бочка",
            min: "30л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Silicone based anti-foam additive",
            group: "Pentaxyl M11, U11",
            unit: "cask",
            min: "30L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Противопенная добавка на силиконовой основе",
            group: "Пентаксил марки М11, У11.",
            unit: "бочка",
            min: "30л",
          }
        }
      },
      {
        id: 53,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биоцид",
            group: "Глутаральдегид 24% ",
            unit: "бочка",
            min: "210кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Biocide",
            group: "Glutaraldehyde 24%",
            unit: "cask",
            min: "210kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биоцид",
            group: "Глутаральдегид 24% ",
            unit: "бочка",
            min: "210кг",
          }
        }
      },
      {
        id: 54,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биоцид",
            group: "Глутаральдегид 24% ",
            unit: "бочка",
            min: "30л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Biocide",
            group: "Glutaraldehyde 24%",
            unit: "cask",
            min: "30L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Биоцид",
            group: "Глутаральдегид 24% ",
            unit: "бочка",
            min: "30л",
          }
        }
      },
      {
        id: 55,
        sort: "colmatants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (мелкого помола)",
            group: "МК 5, 50",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Marble chips (finely ground)",
            group: "MC 5, 50",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (мелкого помола)",
            group: "МК 5, 50",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 56,
        sort: "colmatants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (среднего помола)",
            group: "МК 150",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Marble chips (medium ground)",
            group: "MC 150",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (среднего помола)",
            group: "МК 5, 50",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 57,
        sort: "colmatants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (крупного помола)",
            group: "МК 300, 600",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Marble chips (coarse ground)",
            group: "MC 300, 600",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (крупного помола)",
            group: "МК 300, 600",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 58,
        sort: "colmatants",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (крупного помола)",
            group: "МК 2300",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Marble chips (coarse ground)",
            group: "MC 2300",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Мраморная крошка (крупного помола)",
            group: "МК 2300",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 59,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Поглотитель кислорода - порошок",
            group: "Oxyscav D",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Oxygen absorbent - powder",
            group: "Oxyscav D",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Поглотитель кислорода - порошок",
            group: "Oxyscav D",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 60,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Поглотитель кислорода - жидкий",
            group: "Oxyscav L",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Oxygen absorber - liquid",
            group: "Oxyscav L",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Поглотитель кислорода - жидкий",
            group: "Oxyscav L",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 61,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Поглотитель СО2",
            group: "CO2 scavenger",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "CO2 absorber",
            group: "CO2 scavenger",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Поглотитель СО2",
            group: "CO2 scavenger",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 62,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Структурообразователь для очистки ствола скважины от шлама",
            group: "SWEEP",
            unit: "мешок",
            min: "25кг",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Structure former for cleaning the wellbore from cuttings",
            group: "SWEEP",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Структурообразователь для очистки ствола скважины от шлама",
            group: "SWEEP",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 63,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Нейтрализатор сероводорода (H2S)",
            group: "H2S SCAV, H2S SCAV -1(M)",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Hydrogen sulfide (H2S) neutralizer",
            group: "H2S SCAV, H2S SCAV -1(M)",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Нейтрализатор сероводорода (H2S)",
            group: "H2S SCAV, H2S SCAV -1(M)",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 64,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Деэмульгатор ",
            group: "DM-4315D, DM-4315D(M)",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Demulsifier",
            group: "DM-4315D, DM-4315D(M)",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Деэмульгатор ",
            group: "DM-4315D, DM-4315D(M)",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 65,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ингибитор коррозии",
            group: "COR HIB A, COR HIB B",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Corrosion inhibitor",
            group: "COR HIB A, COR HIB B",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ингибитор коррозии",
            group: "COR HIB A, COR HIB B",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 66,
        sort: "various",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ингибитор солеотложений",
            group: "Scale inhibitor",
            unit: "бочка",
            min: "208л",

          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Scale inhibitor",
            group: "Scale inhibitor",
            unit: "cask",
            min: "208L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ингибитор солеотложений",
            group: "Scale inhibitor",
            unit: "бочка",
            min: "208л",
          }
        }
      },
      {
        id: 67,
        sort: "consumables",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ситовые панели различных модификаций",
            group: "Derrick 500, Derric 503, Brand Cobra, Mangoose",
            unit: "шт",
            min: "",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Screen panels of various modifications",
            group: "Derrick 500, Derric 503, Brand Cobra, Mangoose",
            unit: "cask",
            min: "",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Ситовые панели различных модификаций",
            group: "Derrick 500, Derric 503, Brand Cobra, Mangoose",
            unit: "шт",
            min: "",
          }
        }
      },
      {
        id: 68,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Цемент тампонажный марки G.",
            group: "Цемент тампонажный марки G.",
            unit: "тн",
            min: "",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Grouting cement grade G.",
            group: "Grouting cement grade G.",
            unit: "tn",
            min: "",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Цемент тампонажный марки G.",
            group: "Цемент тампонажный марки G.",
            unit: "тн",
            min: "",
          }
        }
      },{
        id: 69,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Микроцемент тампонажный марки G",
            group: "Микроцемент тампонажный марки G",
            unit: "тн",
            min: "",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Microcement plugging grade G",
            group: "Microcement plugging grade G",
            unit: "tn",
            min: "",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Микроцемент тампонажный марки G",
            group: "Микроцемент тампонажный марки G",
            unit: "тн",
            min: "",
          }
        }
      },
      {
        id: 70,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Облегчающая добавка",
            group: "Rig OD, МКФ.",
            unit: "тн",
            min: "",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Lightening supplement",
            group: "Rig OD, МКФ.",
            unit: "tn",
            min: "",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Облегчающая добавка",
            group: "Rig OD, МКФ.",
            unit: "тн",
            min: "",
          }
        }
      },
      {
        id: 71,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Пеногаситель",
            group: "Rig DF, Пентаксил марки У12",
            unit: "канистра",
            min: "30л",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Defoamer",
            group: "Rig DF, Pentaxyl grade U12",
            unit: "cask",
            min: "30L",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Пеногаситель",
            group: "Rig DF, Пентаксил макри У12.",
            unit: "канистра",
            min: "30л",
          }
        }
      },
      {
        id: 72,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Расширяющая добавка ",
            group: "СИГБ-6, Rig DRU",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Expansion additive",
            group: "СИГБ-6, Rig DRU",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Расширяющая добавка ",
            group: "СИГБ-6, Rig DRU",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 73,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Замедлитель сроков схватывания",
            group: "Rig RT, НТФ",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Setting retarder",
            group: "Rig RT, НТФ",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Замедлитель сроков схватывания",
            group: "Rig RT, НТФ",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 74,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Понизитель фильтрации",
            group: "Rig PF",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Filtration reducer",
            group: "Rig PF",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Понизитель фильтрации",
            group: "Rig PF",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 75,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Пластификатор",
            group: "Rig PS",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Plasticizer",
            group: "Rig PS",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Пластификатор",
            group: "Rig PS",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 76,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Газоблокатор ",
            group: "Rig GB",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Gas blocker",
            group: "Rig GB",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Газоблокатор ",
            group: "Rig GB",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
      {
        id: 77,
        sort: "cementation",
        content: {
          "ru": {
            btn: "Запросить",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Добавка повышающая прочность",
            group: "Rig DPA, Монолит Р",
            unit: "мешок",
            min: "25кг",
          },
          "en": {
            btn: "Request",
            key1: "Release form:",
            key2: "Minimum volume:",
            title: "Strength additive",
            group: "Rig DPA, Monolith R",
            unit: "sack",
            min: "25kg",
          },
          "kz": {
            btn: "Сұраныс",
            key1: "Форма выпуска:",
            key2: "Минимальный объем:",
            title: "Добавка повышающая прочность",
            group: "Rig DPA, Монолит Р",
            unit: "мешок",
            min: "25кг",
          }
        }
      },
    ]
  section.products-catalog
    .container
      .products-catalog__wrapper
        +products-filter(lang)(class="products-catalog__filter")

        .products-catalog__catalog
          each card in data
            +product-card(card, lang)
        each value, key in btns
          if key === lang
            +btn({text: value, type: "button"})(class="btn--line products-catalog__button")
      +modal-link(lang)
