mixin services-catalog(lang)
  -
    const data = [
      {
        href: "fluid-services.html",
        content: {
          "ru": {
            title: "УСЛУГИ ПО БУРОВЫМ РАСТВОРАМ",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "Подробнее",
          },
          "en": {
            title: "Drilling fluid services",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "More details",
          },
          "kz": {
            title: "Бұрғылау сұйықтығының қызметтері",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "толығырақ",
          },
        }
      },
      {
        href: "repair-insulation-work.html",
        content: {
          "ru": {
            title: "РЕМОНТНО-ИЗОЛЯЦИОННЫЕ РАБОТЫ",
            text: "работы по&nbsp;перекрытию путей проникновения вод в&nbsp;эксплуатационный объект скважины и&nbsp;отключение от&nbsp;нее отдельных пластов и&nbsp;обводненных интервалов. Эти работы&nbsp;&mdash; одно из&nbsp;востребованных и&nbsp;основных средств по&nbsp;увеличению степени извлечения нефти...",
            btn: "Подробнее",
          },
          "en": {
            title: "Repair and insulation work",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "More details",
          },
          "kz": {
            title: "Жөндеу және оқшаулау жұмыстары",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "толығырақ",
          },
        }
      },
      {
        href: "acid-treatments.html",
        content: {
          "ru": {
            title: "КИСЛОТНЫЕ И ХИМИЧЕСКИЕ ОБРАБОТКИ СКВАЖИН",
            text: "использование специализированных химических реагентов и&nbsp;растворов для удаления отложений, растворения породных образований, а&nbsp;также стимуляции производства на&nbsp;месторождении...",
            btn: "Подробнее",
          },
          "en": {
            title: "Acid and chemical treatments",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "More details",
          },
          "kz": {
            title: "Қышқылды және химиялық ұңғымаларды өңдеу",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "толығырақ",
          },
        }
      },
      {
        href: "enhanced-oil-recovery.html",
        content: {
          "ru": {
            title: "ПОВЫШЕНИЕ НЕФТЕОТДАЧИ ПЛАСТОВ",
            text: "комплекс мероприятий, направленных на&nbsp;увеличение количества добычи нефти из&nbsp;нефтяных пластов путем оптимизации процессов внутри пласта или изменения его физико-химических свойств...",
            btn: "Подробнее",
          },
          "en": {
            title: "Enhanced oil recovery",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "More details",
          },
          "kz": {
            title: "Мұнайды қалпына келтіруді жақсарту",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "толығырақ",
          },
        }
      },
      {
        href: "reagents-supply.html",
        content: {
          "ru": {
            title: "РЕАГЕНТЫ ДЛЯ БУРЕНИЯ И&nbsp;НЕФТЕДОБЫЧИ",
            text: "Наша компания предлагает широкий ассортимент высококачественной химии для бурения, КРС, ПРС, заканчивания скважин, жидокстей глушения , а&nbsp;так&nbsp;же промысловой химии от&nbsp;ведущих производителей...",
            btn: "Подробнее",
          },
          "en": {
            title: "REAGENTS FOR DRILLING AND OIL PRODUCTION",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "More details",
          },
          "kz": {
            title: "БҰРҒЫРУ ЖӘНЕ МҰНАЙ ӨНДІРУ ҮШІН РЕАГЕНТТЕР",
            text: "комплекс услуг, связанных с&nbsp;разработкой, поставкой и&nbsp;использованием специализированных буровых растворов в&nbsp;процессе бурения нефтяных и&nbsp;газовых скважин...",
            btn: "толығырақ",
          },
        }
      },
    ]

  -
    const btns = {
      "ru": "Загрузить ещё",
      "en": "Load more",
      "kz": "Көбірек",
    }

  .services-catalog
    .container
      .services-catalog__wrapper
        .services-catalog__catalog
          each card in data
            +services-card(card, lang)
        each value, key in btns
          if key === lang
            +btn({text: value, type: "button"})(class="btn--line services-catalog__button")
        +modal-link(lang)
