.advantages-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px 20px 60px;
  border: 1px solid rgba($color-bg-dark, 0.2);
  // width: calc((100% - 180px) / 6);
  max-width: 460px;

  p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 150%;
  }

  @include vp-767 {
    max-width: unset;
    width: 100%;
  }
}

.advantages-slide__icon {
  border: 1px solid $color-bg-dark;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}
