.btn {
  display: inline-flex;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;

  &--solid {
    background-color: $color-accent-main;
    color: $color-default-white;
    transition: background-color $trans-default, color $trans-default, opacity $trans-default;

    @include hover-focus {
      background-color: $color-bg-dark;
    }

    &:active {
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--line {
    color: $color-default-black;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      height: 5px;
      z-index: -1;
      background-color: rgba($color-accent-main, 0.8);
      transition: height $trans-default;
      border-radius: 2px;
    }

    @include hover-focus {
      &::after {
        height: 100%;
      }
    }

    &:active {
      &::after {
        opacity: 0.5;
      }
    }

    &:disabled {
      opacity: 0.2;
    }

  }

  &--news {
    @include link-interactive;

    padding: 0;

    font-family: $ff-default;
    color: $color-default-black;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;


  }
}
