.footer {
  padding: 40px 0;

  background-color: $color-bg-dark;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 128px 1fr 20%;
  gap: 10%;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;

  align-self: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.footer__link {
  color: $color-default-white;
  font-size: 18px;
  font-weight: 600;
}

.footer__copyright {
  color: #7e7e7e;
  line-height: 160%;
  text-align: right;

  align-self: center;
}
