.header {
  position: relative;
  width: 100%;
  z-index: 10;

  padding: 20px 0;

  background-color: transparent;

  &__logo {
    color: $color-default-white;
  }
}

.header__logo {
  cursor: pointer;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}


.header__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  font-weight: 600;
  font-size: 26px;

  @include link-interactive;
}
