.hero-slide {
  padding: 0;
  background: transparent;
  margin-top: 176px;
  margin-bottom: 176px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 555px;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 58%;
    background: $color-bg-light;
    border-radius: 0;
    z-index: -1;
  }

  &.swiper-slide-active {
    &::after {
      width: 70%;
      border-radius: 0 40px 40px 0;
    }
  }

  &__wrapper {
    width: 100%;
    // padding-left: 100px;
    padding: 44px 0;
    text-align: left;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      gap: 20px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 150%;
    max-width: 490px;
  }

  &__btn {
    align-self: center;
  }
}
