.index-contacts {
  padding-top: 120px;
  padding-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;

  &__top {
    width: 100%;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
  }

  &__table {
    display: flex;
    // width: 100%;


    th {
      padding: 0;
      padding-left: 30px;
      max-width: 200px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: left;
    }

    td {
      padding: 0;
      padding-left: 30px;

    }
  }

  &__map {
    display: flex;
    width: 100%;

    iframe {
      width: 100%;
    }
  }
}
