.main-nav {
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;
    margin-bottom: 17px;
    gap: 30px;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-black;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    cursor: pointer;
    transition: color $trans-default, opacity $trans-default;

    &.is-active {

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-default-black;
        position: absolute;
        left: 0;
        bottom: 0;
      }

    }

    @include hover-focus {
      color: $color-accent-main;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__toggle {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
