.product-card {
  width: 100%;
  height: 100%;
  max-width: 280px;
  display: flex;

  transition: box-shadow $trans-default;
  // overflow: hidden;
  border-radius: 5px;

  background-color: #fafafa;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  @include hover-focus {
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;

    &:active {
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    }
  }

}

.product-card__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 20px 0 25px;
  gap: 14px;
}

.product-card__top {
  width: 100%;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-card__title {
  width: 100%;

  // word-break: break-all;

  text-transform: uppercase;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(#000000, 0.2);

  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
  color: #000000;

  @include vp-767 {
    font-size: 20px;
  }
}

.product-card__group {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: $color-accent-main;
  line-height: 120%;
}

.product-card__unit {
  width: 100%;
  display: inline;

  span {
    display: inline;
  }
}

.product-card__key {
  font-weight: 500;
  font-size: 14px;
  color: #151515;
  line-height: normal;
  margin-right: 6px;
}

.product-card__value {
  font-weight: 400;
  font-size: 14px;
  color: #9D9D9D;
  line-height: normal;
}

.product-card__btn {
  border: none;
  outline: none;
  background-color: rgba($color-bg-dark, 0.8);
  border-radius: 0 12px 12px 0;
  color: $color-default-white;
  font-size: 14px;
  line-height: 100%;
  padding: 10px 39px;
  width: fit-content;
  cursor: pointer;
  text-transform: none;

  transition: background-color $trans-default, color $trans-default;

  @include hover-focus {
    background-color: rgba($color-accent-main, 0.8);
  }

  &:active {
    background-color: rgba($color-accent-main, 0.9);
  }
}
