.search {
  width: 100%;
  border-radius: 10px;
  padding: 20px 40px;
  position: relative;
  width: 100%;

  background: #F2F2F2;
  border: 1px solid #F3F3F3;
  transition: opacity $trans-default;

  @include vp-1023 {
    max-width: 100%;
  }

  @include vp-767 {
    padding: 10px 20px;
    font-size: 14px;
  }

  form {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 100%;

    label {
      display: flex;
      align-items: center;
    }

    input {
      border: none;
      background-color: transparent;
      color: $color-default-black;
      padding: 5px;

      @include hover-focus {
        outline: none;
      }
    }

    svg {
      @include vp-767 {
        width: 12px;
        height: 12px;
      }
    }
  }

  .search__reset {
    border: none;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 16px;
    background: transparent;
    opacity: 0;
    transition: opacity $trans-default;

    &::after,
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 16px;
      background-color: $color-default-black;
      left: 28%;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 1;
    }
  }

  &:hover,
  &[data-opacity ="1"] {
    .search__reset {
      opacity: 1;
    }
  }
}

