.swiper-button {
  background-color: $color-accent-main;
  color: $color-default-white;

  width: 36px;
  height: 36px;
  top: auto;
  bottom: 20px;

  &::after {
    font-size: 18px;
  }

  &--next {
    left: calc(50% + 21px);
  }

  &--prev {
    left: calc(50% - 39px);
  }

  @include vp-767 {
    width: 24px;
    height: 24px;

    &::after {
      font-size: 14px;
    }

    &--next {
      left: calc(50% + 15px);
    }

    &--prev {
      left: calc(50% - 27px);
    }
  }
}
