mixin header-logo(headerMods)
  if (headerMods === "kz")
    a.header__logo(href="index.html", aria-label="Басты бетке")
      picture
        source(media="(max-width: 1023px)", srcset="../../img/svg/logo-mobile.svg", width="37" height="50")
        img(src="../../img/svg/logo-desktop.svg", width="200" height="118", alt="Компания логотипі", aria-hidden="true")
  else if (headerMods === "en")
    a.header__logo(href="index.html", aria-label="To the main page")
      picture
        source(media="(max-width: 1023px)", srcset="../../img/svg/logo-mobile.svg", width="37" height="50")
        img(src="../../img/svg/logo-desktop.svg", width="200" height="118", alt="Logotype", aria-hidden="true")
  else
    a.header__logo(href="index.html", aria-label="На главную страницу")
      picture
        source(media="(max-width: 1023px)", srcset="./img/svg/logo-mobile.svg", width="37" height="50")
        img(src="./img/svg/logo-desktop.svg", width="200" height="118", alt="Логотип компании", aria-hidden="true")


mixin footer-logo(footerMods)
  if (footerMods === "kz")
    a.footer__logo(href="index.html", aria-label="Басты бетке")
      picture
        source(media="(max-width: 1023px)", srcset="../../img/svg/footer-logo-mobile.svg", width="58" height="76")
        img(src="../../img/svg/footer-logo-desktop.svg", width="102" height="128", alt="Компания логотипі", aria-hidden="true")
  else if (footerMods === "en")
    a.footer__logo(href="index.html", aria-label="To the main page")
      picture
        source(media="(max-width: 1023px)", srcset="../../img/svg/footer-logo-mobile.svg", width="58" height="76")
        img(src="../../img/svg/footer-logo-desktop.svg", width="102" height="128", alt="Logotype", aria-hidden="true")
  else
    a.footer__logo(href="index.html", aria-label="На главную страницу")
      picture
        source(media="(max-width: 1023px)", srcset="./img/svg/footer-logo-mobile.svg", width="58" height="76")
        img(src="./img/svg/footer-logo-desktop.svg", width="102" height="128", alt="Логотип компании", aria-hidden="true")
