mixin search-input(options = {})
  - const inputLabel = options.inputLabel || ""
  - const inputId = options.inputId || false
  - const inputName = options.inputName || false
  - const inputPlaceholder = options.inputPlaceholder || false
  - const describe = options.describe || ""

    label(for=inputId)!=inputLabel
      input(type="text", id="search", name="search", placeholder=inputPlaceholder, aria-describedby=describe)
