extends ../../components/base/layout

block variables
  - const lang = "en"
  - const page = "catalog"
  - const title = "AsiaPetroservice - Products"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "en"
  - const hasFooter = true
  - const footerMods = "en"
  - const currentUrl = "catalog.html"

block main
  main
    +products-hero(lang)
    +products-catalog(lang)



block modals
  +modal(class="modal--form", data-modal="form-modal")
    +form-modal(lang)
