extends ../../components/base/layout

block variables
  - const lang = "en"
  - const page = "index"
  - const title = "AsiaPetroservice - Reagents for drilling and oil production" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "en"
  - const hasFooter = true
  - const footerMods = "en"
  - const currentUrl = "reagents-supply.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +service-hero(lang, 5)
    +service-main(lang, 5)



block modals
  +modal(class="modal--form", data-modal="form-modal")
    +form-modal(lang)
