extends ../../components/base/layout

block variables
  - const lang = "kz"
  - const page = "catalog"
  - const title = "AsiaPetroservice - өнімдер"
  - const description = "TOO Asia Petro Service, Актау қаласы, Қазахстан Республикасы." //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "kz"
  - const hasFooter = true
  - const footerMods = "kz"
  - const currentUrl = "catalog.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +products-hero(lang)
    +products-catalog(lang)



block modals
  +modal(class="modal--form", data-modal="form-modal")
    +form-modal(lang)
