extends ../../components/base/layout

block variables
  - const lang = "kz"
  - const page = "events"
  - const title = "AsiaPetroservice - Оқиғалар" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "kz"
  - const hasFooter = true
  - const footerMods = "kz"
  - const currentUrl = "events.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +events-breadcrumbs(lang)
    +events-swiper-2023(lang)
    +events-swiper-2022(lang)


