// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

$color-transparent:                 rgba(255, 255, 255, 0);
$color-accent-main:                 #ef9840;
$color-accent-hover:           rgba($color-accent-main, 0.8);
$color-text-form:                   #f0efe9;
$color-light-gray:                  #eaeaea;


$color-bg-default:                  #d9d9d9;
$color-bg-dark:                     #3a3838;
$color-bg-beige:                    #fffefc;
$color-bg-light:               rgba(#EBE6DE, 0.4);
$color-bg-orange:              rgba(#ef9840, 0.3);
$color-bg-layout:              rgba(#7a746b, 0.6);



// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$color-hero-layout:  linear-gradient(rgba(#FFF1E3, 0.93) 18%, rgba(#FFF1E3, 0.5) 26%, rgba(#FFF1E3, 0.26) 33%, rgba(#BC9975, 0) 51%, rgba(#614C39, 0.7) 99%);

$color-hero-layout-mobile: linear-gradient(rgba(#FFF1E3, 0.93) 18%, rgba(#FFF1E3, 0.86) 22%, rgba(#FFF1E3, 0.56) 42%, rgba(#FFF1E3, 0.9) 60%, rgba(#BC9975, 0) 74%, rgba(#614C39, 0.0) 99%);

$color-hero2-layout: linear-gradient(to left, rgba(#A48556, 0.1) 34%, rgba(#FBF6EE, 0.5) 47%, rgba(#FDFDFD, 0.9) 80%, #FDFDFD 100%);
// $brown-to-bottom:                   linear-gradient(0deg, rgba(97,76,57,0) 0%, rgba(97,76,57,0.34) 53%);
$brown-to-bottom: linear-gradient(0deg, rgba(97,76,57,0) 53%, rgba(244,176,112,1) 100%);
// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-default:                        "Montserrat", "Arial", sans-serif;
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-570:                            570px;
$vp-768:                            768px;
$vp-1280:                           1280px;
$vp-1024:                           1024px;
$vp-1328:                           1328px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
