// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

$color-transparent:                 rgba(255, 255, 255, 0);
$color-bg-dark:                     #3a3838;
$color-accent-main:                 #ef9840;
$color-text-form:                     #f0efe9;
$color-bg-default:                  #d9d9d9;
$color-bg-light:                      rgba(#fdf9f9, 0.2);
$color-bg-orange:                     rgba(#ef9840, 0.3);


// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

// $brown-to-bottom:                   linear-gradient(0deg, rgba(97,76,57,0) 0%, rgba(97,76,57,0.34) 53%);
$brown-to-bottom: linear-gradient(0deg, rgba(97,76,57,0) 53%, rgba(244,176,112,1) 100%);
// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-default:                        "Montserrat", "Arial", sans-serif;
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1280:                           1280px;
$vp-1024:                           1024px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
