mixin service-main(lang, id)
  -
    const texts =[
      {
        id: 1,
        content: {
          "ru": {
            title: "Услуги по буровым растворам",
            textTop: "",
            textBottom: "",
            link1: "",
            link2: "",
          },
          "en": {
            title: "Drilling fluid services",
            textTop: "",
            textBottom: "",
            link1: "",
            link2: "",
          },
          "kz": {
            title: "Бұрғылау сұйықтығының қызметтері",
            textTop: "",
            textBottom: "",
            link1: "",
            link2: "",
          },
        }
      },
      {
        id: 2,
        content: {
          "ru": {
            title: "РЕМОНТНО-ИЗОЛЯЦИОННЫЕ РАБОТЫ",
            textTop: "",
            textBottom: "",
            link1: "",
            link2: "",
          },
          "en": {
            title: "Repair and insulation work",
            textTop: "",
            textBottom: "",
            link1: "",
            link2: "",
          },
          "kz": {
            title: "Repair and insulation work",
            textTop: "",
            textBottom: "",
            link1: "",
            link2: "",
          },
        }
      },
    ]
