mixin service-main(lang, id)
  -
    const texts =[
      {
        id: 1,
        content: {
          "ru": {
            title: "Услуги по буровым растворам",
            textTop: "представляют собой комплекс услуг, связанных с разработкой, поставкой и использованием специализированных буровых растворов в процессе бурения нефтяных и газовых скважин. ",
            textBottom: "Буровые растворы играют ключевую роль в успешном осуществлении бурения, обеспечивая необходимые технологические параметры, защиту бурового инструмента и оборудования, а также эффективную эксплуатацию скважин. Основные аспекты услуг по буровым растворам включают:<ol><li> Разработка и составление рецептур: Наши специалисты работают над разработкой оптимальных составов буровых растворов, учитывая геологические особенности месторождения, тип породы, глубину скважины и другие параметры. Мы учитываем цели и требования заказчика, стремясь к максимальной эффективности и безопасности процесса бурения.</li><li> Поставка и доставка растворов: Мы обеспечиваем поставку необходимых компонентов и добавок для буровых растворов прямо на месторождение в сроки, удобные для заказчика. Наша компания сотрудничает с проверенными поставщиками, гарантируя высокое качество и надежность поставляемых материалов.</li><li> Технологическая поддержка и консультирование: Наша команда инженеров и специалистов предоставляет профессиональную техническую поддержку и консультации по выбору и применению буровых растворов. Мы помогаем оптимизировать параметры бурения, обеспечивая максимальную производительность и снижение рисков.</li><li> Контроль и анализ качества: Мы осуществляем постоянный контроль качества буровых растворов на всех этапах процесса, проводя лабораторные анализы и испытания, чтобы гарантировать их соответствие требованиям и стандартам. Наша компания обладает богатым опытом и профессиональными ресурсами для предоставления качественных услуг по буровым растворам. Мы стремимся к постоянному совершенствованию и инновациям, чтобы удовлетворить потребности наших клиентов и обеспечить успешное завершение проектов бурения.</li></ol>",
            link1: "Новое поколение поликатионных буровых растворов POLYCAT™",
            link1Href: "polycat.html",
            link2: "Система буровых растворов APHRONICS™",
            link2Href: "aphronics.html",
          },
          "en": {
            title: "Drilling fluid services",
            textTop: " are a range of services related to the development, supply and use of specialized drilling fluids in the process of drilling oil and gas wells.",
            textBottom: "Drilling fluids play a key role in successful drilling operations by providing the necessary process parameters, protection of drilling tools and equipment, and efficient well operation. Key aspects of drilling fluid services include: <ol><li> Development and formulation: Our specialists work to develop optimal compositions of drilling fluids, taking into account the geological features of the field, rock type, well depth and other parameters. We take into account the goals and requirements of the customer, striving for maximum efficiency and safety of the drilling process.</li><li> Supply and delivery of solutions. : We ensure the delivery of the necessary components and additives for drilling fluids directly to the field in a time convenient for the customer. Our company cooperates with trusted suppliers, guaranteeing high quality and reliability of the supplied materials.</li><li>Technological support and consulting: Our team. engineers and specialists provides professional technical support and advice on the selection and use of drilling fluids. We help optimize drilling parameters, ensuring maximum productivity and reducing risk.</li><li>Quality control and analysis: We continuously monitor the quality of drilling fluids at all stages of the process, conducting laboratory analyzes and tests to ensure they meet requirements and standards . Our company has rich experience and professional resources to provide quality drilling fluid services. We are committed to continuous improvement and innovation to meet our clients' needs and ensure the successful completion of drilling projects.</li></ol>",
            link1: "New generation of polycationic drilling fluids POLYCAT™",
            link1Href: "polycat.html",
            link2: "APHRONICS™ Drilling Fluid System",
            link2Href: "aphronics.html",
          },
          "kz": {
            title: "Бұрғылау сұйықтығының қызметтері",
            textTop: " – мұнай және газ ұңғымаларын бұрғылау процесінде мамандандырылған бұрғылау ерітінділерін әзірлеуге, жеткізуге және пайдалануға байланысты қызметтер кешені.",
            textBottom: "Бұрғылау ерітінділері қажетті технологиялық параметрлерді қамтамасыз ету, бұрғылау құралдары мен жабдықтарын қорғау және ұңғымаларды тиімді пайдалану арқылы сәтті бұрғылау операцияларында шешуші рөл атқарады. Бұрғылау ерітінділері қызметінің негізгі аспектілері мыналарды қамтиды: <ol><li> Әзірлеу және құрастыру: Біздің мамандар кен орнының геологиялық ерекшеліктерін, тау жыныстарының түрін, ұңғыманың тереңдігін және басқа параметрлерді ескере отырып, бұрғылау ерітінділерінің оңтайлы құрамын әзірлеумен айналысады, біз жұмыстың максималды тиімділігі мен қауіпсіздігіне ұмтыламыз Бұрғылау процесі.</li><li> Шешімдерді жеткізу және жеткізу : Біз бұрғылау ерітінділеріне қажетті компоненттер мен қоспаларды тапсырыс берушіге ыңғайлы уақытта жеткізуді қамтамасыз етеміз, біздің компания кепілдік береді жеткізілетін материалдардың жоғары сапасы мен сенімділігі.</li><li>Технологиялық қолдау және кеңес беру: Біздің инженерлер мен мамандар бұрғылау ерітінділерін таңдау және пайдалану бойынша кәсіби техникалық қолдау көрсетеді. Біз бұрғылау параметрлерін оңтайландыруға, максималды өнімділікті қамтамасыз етуге және тәуекелді азайтуға көмектесеміз.</li><li>Сапаны бақылау және талдау: Біз процестің барлық кезеңдерінде бұрғылау ерітінділерінің сапасын үздіксіз бақылап отырамыз, олардың талаптарға сәйкестігіне көз жеткізу үшін зертханалық талдаулар мен сынақтар жүргіземіз. және стандарттар. Біздің компанияда бұрғылау сұйықтығының сапалы қызметтерін ұсыну үшін бай тәжірибе мен кәсіби ресурстар бар. Біз клиенттеріміздің қажеттіліктерін қанағаттандыру және бұрғылау жобаларының сәтті аяқталуын қамтамасыз ету үшін үздіксіз жақсартуға және инновацияларға ұмтыламыз.</li></ol>",
            link1: "POLYCAT™ поликатионды бұрғылау ерітінділерінің жаңа буыны",
            link1Href: "polycat.html",
            link2: "APHRONICS™ бұрғылау сұйықтығы жүйесі",
            link2Href: "aphronics.html",
          },
        }
      },
      {
        id: 2,
        content: {
          "ru": {
            title: "РЕМОНТНО-ИЗОЛЯЦИОННЫЕ РАБОТЫ",
            textTop: "- работы по перекрытию путей проникновения вод в эксплуатационный объект скважины и отключение от нее отдельных пластов и обводненных интервалов. Эти работы - одно из востребованных и основных средств по увеличению степени извлечения нефти из пласта.",
            textBottom: "РИР скважин проводят в случаях, когда необходимо:<ul><li>обеспечить изоляцию продуктивных объектов от вод;</li><li>создать цементный стакан на забое скважины или цементный мост в колонне;</li><li>перекрыть фильтр при переводе скважины на выше- или нижезалегающий горизонт;</li><li>перекрыть дефекты в эксплуатационной колонне (межколонном пространстве);</li><li>изолировать продуктивные горизонты друг от друга в интервале спуска эксплуатационной колонны или хвостовика при зарезке и бурении второго ствола и т.д.</li></ul><br>В зависимости от характера нарушения (негерметичности) специалисты ТОО «Asia Petro Service» предлагают то или иное техническое решение, а научно-исследовательская лаборатория разрабатывает герметизирующий состав, обладающий высокой проникающей способностью с регулируемыми показателями технологических свойств за счет активации частиц связующего материала в качестве модифицирующего агента. <br>На сегодняшний день реализован ряд проектов на территории Мангистауской области (РК), где удалось повысить проникающую способность, снизить реологические показатели без потери свойств стабильности тампонирующей композиции, а также получена прочная непроницаемая крепь.",
          },
          "en": {
            title: "Repair and insulation work",
            textTop: "- work to block the paths of water penetration into the production facility of the well and disconnect individual layers and water-flooded intervals from it. These works are one of the most popular and main means of increasing the degree of oil recovery from the reservoir.",
            textBottom: "Research work of wells is carried out in cases where it is necessary: ​​<ul><li>to ensure isolation of productive objects from water;</li><li>to create a cement cup at the bottom of the well or a cement bridge in the column;</li><li >close the filter when transferring the well to an overlying or underlying horizon;</li><li>cover defects in the production casing (annulus space);</li><li>isolate productive horizons from each other in the interval of running the production string or liner when kicking and drilling a second trunk, etc. </li></ul><br>Depending on the nature of the violation (leaks), specialists from Asia Petro Service LLP offer one or another technical solution, and the research laboratory develops a sealing composition with high penetrating ability with adjustable indicators of technological properties due to the activation of particles of the binder material as a modifying agent <br>To date, a number of projects have been implemented in the Mangistau region (RK), where it was possible to increase the penetrating ability and reduce the rheological parameters without. loss of stability properties of the plugging composition, and a strong impermeable support was obtained.",
          },
          "kz": {
            title: "Repair and insulation work",
            textTop: "- ұңғыманың өндірістік нысанына судың өту жолдарын жабу және одан жеке қабаттар мен су басқан аралықтарды ажырату бойынша жұмыстарды жүргізу. Бұл жұмыстар қабаттағы мұнай беру дәрежесін арттырудың ең танымал және негізгі құралдарының бірі болып табылады.",
            textBottom: "Ұңғымаларды зерттеу жұмыстары келесі жағдайларда жүргізіледі:<ul><li>өнімді объектілерді судан оқшаулауды қамтамасыз ету;</li><li>төбенің түбінде цемент тостағанын жасау. ұңғыманы немесе колоннадағы цементті көпірді;</li><li >ұңғыманы үстіңгі немесе астындағы горизонтқа ауыстырған кезде сүзгіні жабу;</li><li>өндірістік қаптамадағы ақауларды жабу (сақина кеңістігі);< /li><li>екінші оқпанды тебу және бұрғылау кезінде өндірістік колонканы немесе лайнерді іске қосу аралықтарында бір-бірінен өнімді горизонттарды оқшаулау және т.б. </li></ul><br>Бұзылу сипатына байланысты. (ағызу), «Азия Петро Сервис» ЖШС мамандары сол немесе басқа техникалық шешімді ұсынады, ал ғылыми-зерттеу зертханасы модификациялаушы агент ретінде байланыстырушы материалдың бөлшектерін белсендіру есебінен технологиялық қасиеттерінің реттелетін көрсеткіштерімен жоғары ену қабілеті бар тығыздағыш композицияны жасайды < br>Бүгінгі таңда Маңғыстау облысында (ҚР) бірқатар жобалар жүзеге асырылды, онда тығындау құрамының тұрақтылық қасиеттерін жоғалтпай және күшті өткізбейтін тіреуіштің ену қабілетін арттыруға және реологиялық көрсеткіштерді төмендетуге мүмкіндік берілді алынды",
          },
        },
      },
      {
        id: 3,
        content: {
          "ru": {
            title: "Кислотные и химические обработки скважин",
            textTop: "представляют собой комплекс мероприятий, направленных на оптимизацию процесса добычи нефти и газа путем улучшения проницаемости и продуктивности скважины. ",
            textBottom: "Эти процедуры включают в себя использование специализированных химических реагентов и растворов для удаления отложений, растворения породных образований, а также стимуляции производства на месторождении.<br>Основные цели кислотных и химических обработок скважин включают:<ol><li>Удаление отложений: Химические реагенты применяются для растворения отложений, таких как соли, карбонаты, сульфаты и другие неорганические и органические отложения, которые могут забивать скважину и снижать ее производительность.</li><li>Расщепление пород: Кислотные обработки могут использоваться для расщепления породных образований вокруг скважины, увеличивая проницаемость и улучшая доступность нефти и газа к скважине.</li><li>Оптимизация продуктивности: Химические обработки могут стимулировать производство на месторождении путем улучшения проницаемости пластов, увеличения дебита скважины и снижения давления насыщения.</li></ol>Процесс кислотной и химической обработки скважин требует точного анализа скважинных параметров и характеристик пласта, чтобы выбрать оптимальные реагенты и методы обработки. Он также подразумевает строгий контроль процесса и безопасность при работе с химическими веществами.<br>Наша команда специалистов обладает экспертными знаниями и опытом в проведении кислотных и химических обработок скважин, гарантируя эффективное решение задач и максимальный результат для наших клиентов.",
            },
          "en": {
            title: "Acid and chemical well treatments",
            textTop: "represent a set of measures aimed at optimizing the process of oil and gas production by improving the permeability and productivity of the well.",
            textBottom: "These procedures involve the use of specialized chemicals and solutions to remove scale, dissolve rock formations, and stimulate production in the field.<br>The main purposes of acidizing and chemical well treatments include:<ol><li>Scaling Removal: Chemicals are used to dissolve scales such as salts, carbonates, sulfates and other inorganic and organic sediments that can clog a well and reduce its productivity.</li><li>Rock Breaking: Acid treatments can be used to break up rock formations around a well, increasing permeability and improving the availability of oil and gas to the well.</li><li>Optimizing productivity: Chemical treatments can stimulate field production by improving formation permeability, increasing well production and reducing bubble point pressure.</li></ol>Acid and chemical well treatment requires an accurate analysis of well parameters and formation characteristics in order to select the optimal reagents and treatment methods. It also involves strict process control and safety when working with chemicals.<br>Our team of specialists have expert knowledge and experience in acid and chemical well treatments, ensuring effective solutions to problems and maximum results for our clients.",
          },
          "kz": {
            title: "Қышқылды және химиялық ұңғымаларды өңдеу",
            textTop: "ұңғыманың өткізгіштігі мен өнімділігін арттыру арқылы мұнай мен газ өндіру процесін оңтайландыруға бағытталған шаралар кешенін білдіреді.",
            textBottom: "Бұл процедуралар қақты кетіру, тау жыныстарының түзілімдерін еріту және кен орнындағы өндірісті ынталандыру үшін арнайы химиялық заттар мен ерітінділерді қолдануды қамтиды.<br>Қышқылдандыру және ұңғымаларды химиялық өңдеудің негізгі мақсаттарына мыналар жатады:<ol><li>Қақтан тазарту: Химиялық заттар ұңғыманы бітеп, оның өнімділігін төмендететін тұздар, карбонаттар, сульфаттар және басқа бейорганикалық және органикалық шөгінділер сияқты қабыршақтарды еріту үшін қолданылады.</li><li>Тау жыныстарын бұзу: Қышқылмен өңдеулерді ұңғыма айналасындағы тау жыныстарын бұзу үшін қолдануға болады. , өткізгіштігін арттыру және ұңғымаға мұнай мен газдың қолжетімділігін жақсарту.</li><li>Өнімділікті оңтайландыру: Химиялық өңдеу қабаттың өткізгіштігін жақсарту, ұңғыманың өнімділігін арттыру және көпіршікті нүктедегі қысымды төмендету арқылы кен орнын өндіруді ынталандыруы мүмкін.</li>< /ol>Қышқылды және химиялық ұңғымаларды өңдеу оңтайлы реагенттер мен өңдеу әдістерін таңдау үшін ұңғыма параметрлері мен қабат сипаттамаларын дәл талдауды талап етеді. Ол сонымен қатар химиялық заттармен жұмыс істеу кезінде технологиялық процесті және қауіпсіздікті қатаң бақылауды қамтиды.<br>Біздің мамандар тобы ұңғымаларды қышқылмен және химиялық өңдеуде сарапшылық білімі мен тәжірибесі бар, бұл мәселелердің тиімді шешімдерін және біздің клиенттер үшін максималды нәтижелерді қамтамасыз етеді.",
          },
        },
      },
      {
        id: 4,
        content: {
          "ru": {
            title: "",
            textTop: "",
            textBottom: "",
            },
          "en": {
            title: "",
            textTop: "",
            textBottom: "",
          },
          "kz": {
            title: "",
            textTop: "",
            textBottom: "",
          },
        },
      },{
        id: 5,
        content: {
          "ru": {
            title: "",
            textTop: "",
            textBottom: "",
            },
          "en": {
            title: "",
            textTop: "",
            textBottom: "",
          },
          "kz": {
            title: "",
            textTop: "",
            textBottom: "",
          },
        },
      },{
        id: 6,
        content: {
          "ru": {
            title: "",
            textTop: "",
            textBottom: "",
            },
          "en": {
            title: "",
            textTop: "",
            textBottom: "",
          },
          "kz": {
            title: "",
            textTop: "",
            textBottom: "",
          },
        },
      },{
        id: 7,
        content: {
          "ru": {
            title: "",
            textTop: "",
            textBottom: "",
            },
          "en": {
            title: "",
            textTop: "",
            textBottom: "",
          },
          "kz": {
            title: "",
            textTop: "",
            textBottom: "",
          },
        },
      },
    ]
  section.service-main
    .container
      .service-main__wrapper
        each text in texts
            if id === text.id
              each value, key in text.content
                if lang === key
                  .service-main__top
                    span.service-main__title!=value.title
                    p!=value.textTop
                  .service-main__middle
                    +modal-link(lang)(class="service-main__modal-link")
                    p!=value.textBottom
                  if (value.link1 && value.link2)
                    .service-main__bottom
                      +btn({href: value.link1Href, text: value.link1})(class="service-main__link")
                        //- +icon("arrow", 9, 16, lang)
                      +btn({href: value.link2Href, text: value.link2})(class="service-main__link")
                        //- +icon("arrow", 9, 16, lang)




