mixin service-hero(lang, id)
  -
    const pages = [
      {
        id: 1,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "fluid-services.html",
            isCard: "Услуги по буровым растворам",
            title: "Услуги по буровым растворам",
            image: "service-hero-1",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО Азия Петро Сервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "fluid-services.html",
            isCard: "Drilling fluid services",
            title: "Drilling fluid services",
            image: "service-hero-1",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "fluid-services.html",
            isCard: "Бұрғылау сұйықтығының қызметтері",
            title: "Бұрғылау сұйықтығының қызметтері",
            image: "service-hero-1",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
      {
        id: 2,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "repair-insulation-work.html",
            isCard: "Ремонтно-изоляционные работы",
            title: "Ремонтно-изоляционные работы",
            image: "service-hero-2",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО Азия Петро Сервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "repair-insulation-work.html",
            isCard: "Repair and insulation work",
            title: "Repair and insulation work",
            image: "service-hero-2",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "repair-insulation-work.html",
            isCard: "Жөндеу және оқшаулау жұмыстары",
            title: "Жөндеу және оқшаулау жұмыстары",
            image: "service-hero-2",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
      {
        id: 3,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "acid-treatments.html",
            isCard: "Кислотные и химические обработки скважин",
            title: "Кислотные и химические обработки скважин",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО Азия Петро Сервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "acid-treatments.html",
            isCard: "Acid and chemical well treatments",
            title: "Acid and chemical well treatments",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "acid-treatments.html",
            isCard: "Қышқылды және химиялық ұңғымаларды өңдеу",
            title: "Қышқылды және химиялық ұңғымаларды өңдеу",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
      {
        id: 4,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "enhanced-oil-recovery.html",
            isCard: "Повышение нефтеотдачи пластов",
            title: "Повышение нефтеотдачи пластов",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО Азия Петро Сервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "enhanced-oil-recovery.html",
            isCard: "Enhanced oil recovery",
            title: "Enhanced oil recovery",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "enhanced-oil-recovery.html",
            isCard: "Мұнайды қалпына келтіруді жақсарту",
            title: "Мұнайды қалпына келтіруді жақсарту",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
      {
        id: 5,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "reagents-supply.html",
            isCard: "Реагенты для бурения и нефтедобычи",
            title: "Реагенты для бурения и нефтедобычи",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО Азия Петро Сервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "reagents-supply.html",
            isCard: "Reagents for drilling and oil production",
            title: "Reagents for drilling and oil production",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "reagents-supply.html",
            isCard: "Бұрғылау және мұнай өндіруге арналған реагенттер",
            title: "Бұрғылау және мұнай өндіруге арналған реагенттер",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
      {
        id: 6,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "aphronics.html",
            isCard: "APHRONICS",
            title: "APHRONICS",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО АзияПетроСервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "aphronics.html",
            isCard: "APHRONICS",
            title: "APHRONICS",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "aphronics.html",
            isCard: "APHRONICS",
            title: "APHRONICS",
            image: "service-hero-3",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
      {
        id: 7,
        content: {
          "ru": {
            href: "services.html",
            breadcrumb: "Услуги",
            hrefCard: "polycat.html",
            isCard: "POLYCAT",
            title: "POLYCAT",
            image: "service-hero-1",
            width: 1440,
            height: 503,
            imageAlt: "сотрудники ТОО Азия Петро Сервис",
          },
          "en": {
            href: "services.html",
            breadcrumb: "Services",
            hrefCard: "polycat.html",
            isCard: "POLYCAT",
            title: "POLYCAT",
            image: "service-hero-1",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
          "kz": {
            href: "services.html",
            breadcrumb: "қызметтері",
            hrefCard: "polycat.html",
            isCard: "POLYCAT",
            title: "POLYCAT",
            image: "service-hero-1",
            width: 1440,
            height: 503,
            imageAlt: "hero2",
          },
        }
      },
    ]

  each hero in pages
    if id === hero.id
      each value, key in hero.content
        if lang === key
          .service-hero&attributes(attributes)
            .container
              +breadcrumbs(value.href, value.breadcrumb, value.isCard)
            .service-hero__wrapper
              .container
                .service-hero__inner
                  if value.title
                    h1.service-hero__title.title.title--service!=value.title
                    +icon("card-title-icon", 24, 36, lang)
                  if value.text
                    p.service-hero__text!=value.text
              .service-hero__image
                +picture("content", value.image, "jpg", value.width, value.height, value.altText, lang)
