mixin picture(path, image, format, width, height, altText, lang)
  - const sub = lang === "kz" || lang === "en" ? "" : ""
  picture(class!=attributes.class)
    source(type="image/webp", srcset= sub + "img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
    img(src= sub + "img/" + path + "/" + image + "." + format, srcset = sub + "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)
