mixin about-link-modal(lang)
  -
    const content = {
      "ru": {
        text: "Вы собираетесь открыть внешнюю ссылку. Хотите закрыть эту страницу?",
        a: "Открыть",
        rst: "Вернуться"
      },
      "en": {
        text: "You are about to open an external link. Do you want to close this page?",
        a: "Open",
        rst: "Return",
      },
      "kz": {
        text: "Сіз сыртқы сілтемені ашқалы жатырсыз. Бұл бетті жапқыңыз келе ме?",
        a: "Ашық",
        rst: "Қайту"
      },
    }

  .about-link-modal(data-modal="about-link-modal")
    each value, key in content
      if lang === key
        p.about-link-modal__text!=value.text
        .about-link-modal__bottom
          +btn(type="button", data-close-modal)!=value.rst
          +btn({href: "#"})(class="about-link-modal__link", data-close-modal)!=value.a
