//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/img-doc

//- Modals

include ./modals/form-modal
include ./modals/about-link-modal
include ./modals/about-license-modal

//- Blocks

include ./blocks/hero
include ./blocks/index-about
include ./blocks/copyright
include ./blocks/news
include ./blocks/advantages
include ./blocks/index-contacts
include ./blocks/index-form

include ./blocks/services-hero
include ./blocks/services-catalog
include ./blocks/modal-link
include ./blocks/products-catalog
include ./blocks/products-hero
include ./blocks/products-filter
include ./blocks/about/about-hero
include ./blocks/about/about-swiper
include ./blocks/about/about-licenses
include ./blocks/about/about-partners
include ./blocks/about/about-acc
include ./blocks/events-swiper-2022
include ./blocks/events-swiper-2023
include ./blocks/events-breadcrumbs

include ./blocks/service/service-hero
include ./blocks/service/service-main

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/lang-bar
include ./mixins/logo
include ./mixins/breadcrumbs
include ./mixins/hero2
include ./mixins/services-card
include ./mixins/product-card
include ./mixins/search
include ./mixins/search-input
include ./mixins/events-swiper
