//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/hero
include ./blocks/index-about
include ./blocks/copyright
include ./blocks/news
include ./blocks/advantages
include ./blocks/index-contacts
include ./blocks/index-form
include ./blocks/service-card
include ./blocks/product-card

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/lang-bar
include ./mixins/logo
