mixin about-hero(lang)
  -
    const heros = [
      {
        "ru": {
          href: "about.html",
          breadcrumb: "О нас",
          text: "ТОО &laquo;Asia Petro Service&raquo; имеет собственную производственную базу поддержки в&nbsp;г. Актау площадью 3,5&nbsp;га.",
          image: "about-hero",
          width: 1440,
          height: 615,
          imageAlt: "логотип ТОО АзияПетроСервис",
        },
        "en": {
          breadcrumb: "About Us",
          href: "about.html",
          text: "Asia Petro Service LLP has its own production support base in&nbsp;Aktau with an&nbsp;area of ​​3.5&nbsp;hectares.",
          image: "about-hero",
          width: 1440,
          height: 615,
          imageAlt: "AsiaPetroService LLP logo",
        },
        "kz": {
          breadcrumb: "Біз туралы",
          href: "about.html",
          text: "«Азия Петро Сервис» ЖШС-нің Ақтау қаласында 3,5 гектар аумақты құрайтын өзінің өндірістік қолдау базасы бар.",
          image: "about-hero",
          width: 1440,
          height: 615,
          imageAlt: "«АзияПетроСервис» ЖШС логотипі",
        }
      },
    ]
  -
    const titles = {
      "ru": "ТОО «АзияПетроСервис» - о нас",
      "en": "AsiaPetroService LLP - about us",
      "kz": "«АзияПетроСервис» ЖШС - біз туралы",
    }

  each hero in heros
    each value, key in hero
      if lang === key
        +hero2(value)
  each title, key in titles
    if lang === key
  h1.visually-hidden!=title
