mixin about-licenses(lang)
  -
    const titles = {
      "ru": "Лицензии и сертификаты",
      "en": "Licenses and certificates",
      "kz": "Лицензиялар мен сертификаттар"
    }
  -
    const texts = {
      "ru": "Имеем аккредитацию в Казахстане в области НИОКР. Мы следуем международным стандартам в области ОТ, ТБ и ООС.",
      "en": "We have accreditation in Kazakhstan in the field of R&D. We follow international standards in the field of HSE.",
      "kz": "Бізде Қазақстанда ҒЗТКЖ саласында аккредитация бар. Біз ҚОҚ саласындағы халықаралық стандарттарды ұстанамыз."
    }
  -
    const slides = {
      "ru": [
        {
          image: "ru_iso",
          width: 594,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "ru_iso_eco",
          width: 594,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "ru_iso_health",
          width: 594,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "ru_licens",
          width: 595,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "ru_nio",
          width: 612,
          height: 792,
          altText: "лицензия",
        },
        {
          image: "ru_industr",
          width: 595,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "ru_precurs",
          width: 595,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "ru_poison",
          width: 595,
          height: 841,
          altText: "лицензия",
        },
      ],
      "en": [
        {
          image: "en_iso",
          width: 594,
          height: 841,
          altText: "license",
        },
        {
          image: "en_iso_eco",
          width: 594,
          height: 841,
          altText: "license",
        },
        {
          image: "en_iso_health",
          width: 594,
          height: 841,
          altText: "license",
        },
      ],
      "kz": [
        {
          image: "kz_iso",
          width: 594,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "kz_iso_eco",
          width: 594,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "kz_iso_health",
          width: 594,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "kz_licens",
          width: 592,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "kz_nio",
          width: 612,
          height: 792,
          altText: "лицензия",
        },
        {
          image: "kz_industr",
          width: 595,
          height: 841,
          altText: "лицензия",
        },
        {
          image: "kz_precurs",
          width: 595,
          height: 841,
          altText: "лицензия",
        },
      ]
    }

  .section.about-licenses
    .container
      .about-licenses__top
        each value, key in titles
          if lang === key
            h2.about-licenses__title.title!=value
        each value, key in texts
          if lang === key
            p.about-licenses__text!=value
      .about-licenses__swiper.swiper
        .about-licenses__wrapper.swiper-wrapper
          each value, key in slides
            if lang === key
              each slide in value
                .about-licenses__slide.swiper-slide
                  +img-doc("slides", slide.image, "jpg", slide.width, slide.height, slide.license)
        .about-licenses__pagination.swiper-pagination
        .about-licenses__btn.about-licenses__btn--prev.swiper-button.swiper-button--prev.swiper-button-prev
        .about-licenses__btn.about-licenses__btn--next.swiper-button.swiper-button--next.swiper-button-next
